<!DOCTYPE html>
<html>
<head>
<title>Account recovery demo</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
</head>
<body>

<script src="/client.js" defer></script>

<nav>
  <img alt="Vonage logo" id="vonage-logo" src="/VonagePOE_Primary.png"></img>
</nav>

<h2>Login Form</h2>

<div id="modalSMS" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p><b>Recover account</b><p>

    <form id="phoneForm">
      <div class="container">
        <label for="phone"><b>Phone number:</b></label>
        <input type="text" placeholder="Enter phone number" id="phone" required />
        <button type="submit" id="signup_btn">Send code</button>
      </div>
    </form>
  </div>
</div>

<div id="modalVerification" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <form id="pinForm">
      <div class="container">
        <label for="pin"><b>PIN:</b></label>
        <input type="text" placeholder="Enter PIN code" id="pin" required />
        <button type="submit" id="verify_btn">Send verification</button>
      </div>
    </form>
  </div>
</div>

<div id="modalSwapped" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <form id="confirmSwapForm">
      <div class="container">
        <b>Warning! A recent SIM pairing change related to the User’s mobile account occurred. Proceed?</b>
        <button type="submit" id="accept_swapped">Yes, it was me</button>
        <button class="cancelbtn" id="cancel_swapped">No, it wasn't me</button>
      </div>
    </form>
  </div>
</div>


<div id="modalNewPassword" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p><b>Set a new password</b><p>

    <form id="changePwdForm">
      <div class="container">
        <label for="pass1"><b>New Password</b></label>
        <input type="password" placeholder="Enter Password" id="pass1" required>
        <label for="pass2"><b>Retype Password</b></label>
        <input type="password" placeholder="Retype Password" id="pass2" required>

        <button type="submit" id="changepassword_btn">Change password</button>
      </div>
    </form>

  </div>
</div>

<form id="loginForm" method="post">
  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" id="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" id="password" required>
        
    <button type="submit">Login</button>
    <label id="message"><b></b></label>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

</form>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="forgotbtn" id="forgotButton">Forgot Password</button>
  </div>

</body>
</html>
